@font-face {
  font-family: "norsebold";
  src: url("font/Norse-Bold.otf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-font-size: 1.5rem; /* right side of page */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  height: 100vh;
  line-height: 1.3;
}

/* Left side of the page styles */
.page-left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("images/new-york.jpg") no-repeat center/cover;
  width: 30vw;
}

.page-left-side p {
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}

.page-left-side a {
  color: #fff;
  text-decoration: none;
}

.page-left-side a:hover {
  text-decoration: underline;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: "norsebold";
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 15vh;
  height: 15vh;
}

.logo-container img {
  height: 80%;
}

.logo-container h1 {
  font-size: 3.5em;
  color: #fff;
}

/* Presentation message, above form for user info */
.main-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 70vw;
}

.main-content-container .sign-up-message {
  font-size: var(--main-font-size);
  width: 80%;
  margin-left: 3rem;
  font-weight: 500;
}

.sign-up-message p:last-child {
  margin: 1rem 0;
}


/* Form container for user input */
.form-container {
  background-color: #fcfcfc;
  box-shadow: 0px 0px 2px 0px #ADADAD;
  padding-left: 3rem;
  height: 350px;
}

.signup-form {
  display: flex;
  gap: 3rem;
  height: 100%;
}

input {
  font-size: var(--main-font-size);
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid #E5E7EB;
  border-radius: 5px;
}

input:focus {
  box-shadow: 2px 2px 5px 0px #ADADAD;
  outline: 1px solid #E5E7EB;
}

input[type=password] {
  margin-bottom: 5px;
}

input[type="text"]:valid, 
input[type="email"]:valid {
  border: none;
  border: 1px solid #36ca36;
}

input[type="tel"]:valid {
  border: 1px solid #ebe5e5;
}

input[type="text"]:focus:invalid, 
input[type="email"]:focus:invalid,  
input[type="tel"]:focus:invalid,
input[type="password"]:focus:invalid {
  border: 1px solid #ff0000;
}

.form-container > p {
  font-size: var(--main-font-size);
  margin: 1rem 0;
  font-weight: 500;
}

.form-left-side p {
  color: #ff0000;
}

/* Button for send info and link to login */
button[type="submit"] {
  font-size: var(--main-font-size);
  border: none;
  color: #ffffff;
  background-color: #e76f51;
  border-radius: 0.7rem;
  box-shadow: 3px 3px 5px 0px #ADADAD;
  width: 230px;
  padding: 0.8rem;
  margin-left: 3rem;
  transition: 0.2s;
}

button[type="submit"]:hover {
  color: #ff816b;
  background-color: #000000;
  transition: 0.2s;
  cursor: pointer;
}

.main-content-container > p:last-child {
  font-size: var(--main-font-size);
  margin-left: 3rem;
}

.main-content-container a {
  color: #ff816b;
  text-decoration: none;
}

.main-content-container a:hover {
  color: #ff816b;
  text-decoration: underline;
}